{% extends 'layout.html.twig' %}

{% block content %}

<h1>Edit attendee</h1>

<form action="#" method="post">
	{{ form_widget(form) }}

	<input type="submit" name="submit" value="Save" class="btn btn-large btn-primary" />
</form>

{% endblock %}
