<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PHP Conference Argentina</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% if roles is defined %}/registration{% else %}/{% endif %}">PHP Conference Argentina</a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					{% if roles is defined %}
						{% if "ROLE_ADMIN" in roles or "ROLE_MANAGER" in roles %}
							<li {% if section == "registration" %}class="active"{% endif %}><a href="/registration">Registration</a></li>
							<li {% if section == "raffle" %}class="active"{% endif %}><a href="/raffle">Raffle</a></li>
						{% endif %}
						{% if "ROLE_ADMIN" in roles %}
							<li {% if section == "import" %}class="active"{% endif %}><a href="/import">Import</a></li>
						{% endif %}
						<li><a href="/logout">Logout</a></li>
					{% else %}
						<li {% if section == "login" %}class="active"{% endif %}><a href="/login">Login</a></li>
					{% endif %}
				</ul>
            </div>
        </div>

        <div class="container">

			{% if flash is defined %}
				<div class="alert alert-{{ flash.type }}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>{{ flash.title }}</h4>
					{{ flash.message }}
				</div>
			{% endif %}

            {% block content %}{% endblock %}
            <hr>

        </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block js_content %}{% endblock %}
    </body>
</html>
