{% extends 'layout.html.twig' %}

{% block content %}

<h1>{% if role == 'corporate' %}Corporate {% endif %}Poll</h1>

<p>Press the following button to import records from ticket sources.</p>

<p>
<a href="#" id="raffle" class="btn btn-primary btn-large">Pick someone :]</a>
{% if role != 'corporate' %} <a href="/raffle/corporate" class="btn btn-link">Corporate Raffle</a>{% endif %}
</p>

<p><center><span style="font-size: 50pt; font-weight: bold; display:none;" id="chosen">We have a winner!</span></center></p>
<p><center><span style="font-size: 40pt;" id="winner"></span></center></p>

{% endblock %}

{% block js_content %}
    <script type="text/javascript">
    (function($) {
        $(function() {
            var names = $.map({{ names|json_encode|raw }}, function(value, index) { return [value]; }),
                $winner = $("#winner"),
                originalColor = $winner.css('color'),
                wonColor = "rgb(255, 0, 0)",
                $chosen = $("#chosen"),
                pause,
                pauseDelay,
                i;

            var raffle = function() {
                i = Math.floor(Math.random() * names.length);
                $winner.text(names[i]);

                if (pauseDelay > 0) {
                    pauseDelay -= pause;
                } else {
                    pause *= (1 + (Math.random() * .1));
                }

                if (pause >= 100) {
                    $.ajax({
                        dataType: "json",
                        url: "/raffle{% if role %}/{{role}}{% endif %}",
                        success: function(data) {
                            var name = data && data.first_name && data.last_name ? data.first_name + ' ' + data.last_name : 'Nobody? :[';
                            if (data.role == 'corporate') {
                                var domain = data.email.substring(data.email.indexOf('@') + 1).trim();
                                if (domain.length > 0) {
                                    name += " [" + domain + "]";
                                }
                            }
                            $winner.text(name).css('color', wonColor);
                            $chosen.show();
                        },
                        error: function(a, b, c) {
                            $winner.text("Oops, houston, we have a problem!");
                        }
                    });
                } else {
                    setTimeout(raffle, pause);
                }
            };

            $("#raffle").click(function(e) {
                e.preventDefault();
                $chosen.hide();
                $winner.text('').css('color', originalColor);
                i = 0;
                pause = 50;
                pauseDelay = (4500 + (Math.random() * 2000));
                setTimeout(raffle, pause);
            });
        });
    })(jQuery);
    </script>
{% endblock %}
